{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <div class="p-5">
        <div class="jumbotron">
            <h1 class="display-4">App-manager file upload!</h1>
            <p class="lead">This is a service to manage Your images</p>
            <hr class="my-4">

            <h2 class="display-6">Uploader</h2>
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}

            <hr class="my-4">
            <h2 class="display-6">Image list</h2>

            {% if files is not empty %}
            <ul>
                {% for image in files %}
                    <li><a href="{{ path('file_detail', {'id': image.id}) }}">{{ image.label }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}

        </div>
    </div>

{% endblock %}
